---
import Logo from "../components/Logo.astro";
import HeroImage from "../components/hero-image.astro";
import Starfield from "../components/starfield.astro";
const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---
<head>
  <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js"></script>
  <style>
    model-viewer{
      width: 40vw;
      height: 40vw;
      margin: 0 auto;
    }

</style>
</head>
<section class="relative h-full bg-black">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <Logo />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
      >
        Welcome to
        <br /> my sci-fi
        <br /> wiki.
      </div>
    </h2>
    <div id="planet">
      <model-viewer src="/models/planet.glb" camera-controls auto-rotate disable-zoom environmental-image="/models/cobblestone_street_night_4k.hdr" tone-mapping="commerce" exposure=".3">
        <button class="Hotspot" slot="hotspot-2" data-position="0.08618413902918752m 0.06404339972843363m -0.4777938536878112m" data-normal="0.16930102242129336m 0.13423766742060586m -0.9763797480758087m" data-visibility-attribute="visible">
          <div class="HotspotAnnotation">
          </div>
        </button>
        <div class="progress-bar hide" slot="progress-bar">
          <div class="update-bar"></div>
        </div>
      </model-viewer>
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #planet {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #planet {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
